@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}.flaticon-crowd:before {
	content: "\e000";
}
.flaticon-farming5:before {
	content: "\e001";
}
.flaticon-greek9:before {
	content: "\e002";
}
.flaticon-landscape27:before {
	content: "\e003";
}
.flaticon-stickman103:before {
	content: "\e004";
}
.flaticon-stickman104:before {
	content: "\e005";
}
.flaticon-users81:before {
	content: "\e006";
}
